@use "mixin";
@use "variables";

#educations{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 3rem;
    align-items: center;
    text-align: center;
    @include mixin.container;


    .education-content{
        height: 200px;
        @include mixin.flexBox;
        flex-direction: column;
        gap: 15px;



        .education-image{
            overflow: hidden;
            height: 100%;
            min-width: 200px;
            border-radius: 50%;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                cursor: pointer;
                transition: all 0.5s ease;

                &:hover{
                    transform: scale(1.2);
                }
            }
        }

        h4{
           font-size: 20px;
           font-weight: bold;
           cursor: pointer;
           transition:  variables.$transition;
           &:hover{
            color: variables.$main-color;
           } 
        }

    }
}