//Renkler
$text-color: #ffffff;
$bg-color: #000000;
$main-color: #ffa343;
$gray: #ffffffab;

//Fontlar

$h1-font: 6rem;
$h2-font: 3rem;
$p-font: 1rem;

//Yati tipleri
$font-family: "Open Sans", sans-serif;

//Transition
$transition: all .5s ease-in-out;